@font-face {
  font-family: 'Hermit';
  src: url('Hermit-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}


p {
  font-size: 20px;
  color: #88C0D0;
  font-family: Hermit,serif;
}

h1 {
	font-size: 40px;
	/* color: #D8DEE9; */
	color: #D8DEE9;
}

/* .bod { */
/* align-content: center; */
/* } */
body {
	/* margin: 100px */
	width: 600px;
	margin: 0 auto;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	background-color: #2E3440;
}

.Name {
	text-align: right;

}

button {
	padding: 10px;
	border-radius: 15px;
	width: 200px;
	

}
