@font-face {
  font-family: 'Hermit';
  src: url('Hermit-Regular.otf') ;
  font-weight: normal;
  font-style: normal;
}


p {
  font-size: 18px;
  color: #88C0D0;
  font-family: 'Hermit',sans-serif;
}

h1 {
	font-size: 30px;
	color: #D8DEE9;
}

.Main {
/* align-content: center; */
	margin: 0 auto;
	max-width: 600px;
	justify-content: center;
	align-items: center;
}
body {
	/* margin: 100px */
	/* width: 600px; */
	/* display: flex; */
	background-color: #2E3440;
	font-family: 'Hermit',sans-serif;
}

.Name {
	text-align: right;

}

button {
	padding: 10px;
	border-radius: 15px;
	width: 200px;
	background-color: #4C566A;
	color: #88C0D0;
	border-color: #4C566A;
	font-size: 20px;
	font-family: 'Hermit',sans-serif;

}


nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
	/* text-decoration: none; */
	background-color: #4C566A;
	color: #88C0D0;
	padding: 8px 12px;
	border-radius: 15px;
}

nav ul li a:hover {
  background: #333;
}

.AboutMe-horizontal {
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap-reverse; */
	gap: 10px;
	align-items: center;
	margin: 20px 0px 0px 0px;
	
}

#pfp {
	width: 250px;
	border-radius: 15px;
}
