@font-face {
  font-family: 'Hermit';
  src: url('Hermit-Regular.otf') ;
  font-weight: normal;
  font-style: normal;
}


p {
  font-size: 20px;
  color: #88C0D0;
  font-family: 'Hermit',sans-serif;
}

h1 {
	font-size: 40px;
	/* color: #D8DEE9; */
	color: #D8DEE9;
}

.bod {
/* align-content: center; */
	margin: 0 auto;
	max-width: 600px;
}
body {
	/* margin: 100px */
	/* width: 600px; */
	/* display: flex; */
	justify-content: center;
	align-items: center;
	background-color: #2E3440;
  font-family: 'Hermit',sans-serif;
}

.Name {
	text-align: right;

}

button {
	padding: 10px;
	border-radius: 15px;
	width: 200px;
	background-color: #4C566A;
	border-color: #4C566A;
	font-size: 20px;
	font-family: 'Hermit',sans-serif;

}
